{% extends "base.html.twig" %}

{% block body %}
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="{{ path('products_view_all') }}" class="nav-link px-2 link-secondary">Home</a></li>
    <li><a href="{{ path('category_view_all') }}" class="nav-link px-2 link-dark">Category</a></li>
    <li><a href="{{ path('set_view_all') }}" class="nav-link px-2 link-dark">Set</a></li>
    <li><a href="{{ path('view_cart') }}" class="nav-link px-2 link-dark">Cart</a></li>
    <li><a href="{{ path('view_bill') }}" class="nav-link px-2 link-dark">Bill</a></li>
</ul>
<div class="col-md-3 text-end">
    <a href="{{ path('app_logout') }}" class="btn btn-outline-primary me-2">Logout</a>
</div>
</header>
<div class="container col-md-6 mt-3 mb-3">
   <h2 class="text-center">COMPLETE YOUR INFORMATION</h2>
   <div class="col md-6"></div>
      {{ form_start (billDetailForm) }}
         <div class="form-group">
            {{ form_label (billDetailForm.email)}}
            {{ form_widget (billDetailForm.email ,
               {
                  'attr' : {'class' : 'form-control'}
               })
            }}
         </div>
         <div class="form-group">
            {{ form_label (billDetailForm.phoneNo)}}
            {{ form_widget (billDetailForm.phoneNo ,
               {
                  'attr' : {'class' : 'form-control'}
               })
            }}
         </div>
         <div class="form-group">
            {{ form_label (billDetailForm.address)}}
            {{ form_widget (billDetailForm.address ,
               {
                  'attr' : {'class' : 'form-control'}
               })
            }}
         </div>
         <div class="form-group text-center mt-3">
            <input class="btn btn-primary" type="submit" value="ORDER" />
         </div>
      {{ form_end (billDetailForm)}}
   </div>
</div>
{% endblock %}