{% extends 'base.html.twig' %}

{% block title %}Hello BillController!{% endblock %}

{% block body %}
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
    <li><a href="{{ path('category_view_all') }}" class="nav-link px-2 link-dark">Category</a></li>
    <li><a href="{{ path('set_view_all') }}" class="nav-link px-2 link-dark">Set</a></li>
    <li><a href="{{ path('view_cart') }}" class="nav-link px-2 link-dark">Cart</a></li>
    <li><a href="{{ path('view_bill') }}" class="nav-link px-2 link-dark">Bill</a></li>
</ul>
<div class="col-md-3 text-end">
    <a href="{{ path('app_logout') }}" class="btn btn-outline-primary me-2">Logout</a>
</div>
</header>
<table class="table table-bordered">
<tr>
    <th>ID</th>
    <th>Email</th>
    <th>Total Price</th>
    <th>Status</th>
    <th>Date</th>
    <th>Action</th>
</tr>
{% for bill in bill %}
{% if bill.email == app.user.username %}
<tr>
    <td>{{ bill.id }}</td>
    <td>{{ bill.email }}</td>
    <td>{{ bill.total }}</td>
    <td>{{ bill.status }}</td>
    <td>{{ bill.date|date('Y-m-d') }}</td>
    <td>
        <a href="{{ path('delete_bill', {'id': bill.id }) }}" class="btn btn-danger" onclick="return confirm('do you want to delete this Bill?')">Delete</a>
        <a href="{{ path('information') }}" class="btn btn-success">Make Order</a>
    </td>
</tr>
{% endif %}
{% endfor %}
</table>
{% endblock %}
